body{
        background-color: rgb(230, 222, 238);
        margin:0px;
        border: 2px;
}
 hr {
    border-style: none;
    border-width: 9px;
    border-color:rgb(133, 122, 122);
    border-top-style: dotted;
    width:7%;
}

img:hover{
    background-color:beige;
}

h1{
    color:rgb(21, 21, 34);
}

h3 {
    color: #45a5a5;
}

.h3{
    color:45a5a5;
}

